body{
    list-style-type: none;
    
}

code{
    background-color: rgb(216, 215, 215);
    margin: 2px 0px;
    padding: 2px;
}

samp{
    background-color: black;
    color: cornsilk;
    margin-left: 5px;
    
}

.main-section header{
    font-size: 18pt;
    font-weight: bold;
    margin-top: 20px;
}

.sample-code{
    background-color: lightgray;
}

.sample-output{
    background-color: black;
    margin: 2px 0px;
    padding: 3px;
    
}

#main-doc{
    left: 22%;
    position: relative;
    top: 0px;
    width: 70%;
}



#navbar{
    background-color: gray;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    position: fixed;
    width: 20%;
    z-index: 2;
}

#navbar a{
    border-style: solid;
    border-width: thin;
    color: black;
    font-size: 14pt;
    margin-left: 15px;
    padding: 5px;
    text-decoration: none;
    
}

#navbar a:hover{
    background-color: green;
    margin-left: 30px;
}

#nav-header{
    background-color: white;
    font-size: 24pt;
    text-align: center;
}

#nav-header img{
    height: 75px;
}