body{
    margin: 0px;
}

#nav-bar{
    background-color: gray;
    padding: 5px;
    width: 25%;
}

#nav-bar li{
    padding: 5px;
    
}

#nav-bar li a{
    color: black;
    font-size: 14pt;
    text-decoration: none;
    
}